/*Project aria2-WIOW
 *
 * Copyright (c) 2014 - 2023, multiSnow <https://git.disroot.org/multiSnow>
 *
 *Permission to use, copy, modify, and/or distribute this software for
 *any purpose with or without fee is hereby granted, provided that the
 *above copyright notice and this permission notice appear in all
 *copies.
 *
 *THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
 *WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
 *WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
 *AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
 *DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
 *PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
 *TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
 *PERFORMANCE OF THIS SOFTWARE.
 */

html,body
{
    height:100%;
    max-height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

body
{
    background-color:#101010;
    color:#f0f0f0;
    font-family:sans;
    align-items:stretch;
}

body.horizontal
{
    flex-direction:row;
    align-content:flex-start;
    justify-content:flex-start;
}
body.vertical
{
    flex-direction:column;
    align-content:flex-end;
    justify-content:flex-end;
}

sub,sup
{
    font-size:8px;
}
canvas
{
    background-color:rgba(255,240,240,.1);
    border-color:rgba(255,240,240,.1);
    border-radius:3px;
    border-style:double;
    border-width:1px;
}
blockquote
{
    margin:auto;
    margin:0 20px;
    padding:0px;
}
input:not([type="file"])
{
    min-width:24px;
    max-width:120px;
}

#main
{
    order:1;
    flex-grow:100;
    align-self:stretch;
    overflow-y:auto;
}

#side
{
    color:#f37a86;
    bottom:0px;
}

#side.horizontal
{
    flex-direction:column;
    order:0;
}
#side.vertical
{
    flex-direction:row;
    order:2;
}

#showoption
{
    transition-duration:.5s;
    font-size:16px;
}
#showoption_status,#showoption_option
{
    border-style:solid;
    border-color:rgba(250,250,250,0.2);
    border-width:20px;
    background-color:rgba(15,15,15,.8);
    position:fixed;
    overflow:auto;
}
#showoption_status
{
    top:20px;
    left:20px;
}
#showoption_status.stop
{
    border-radius:5px;
    bottom:20px;
    right:20px;
}
#showoption.horizontal>#showoption_status:not(.stop)
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-right-width:10px;
    float:left;
    bottom:20px;
    right:50%;
}
#showoption.vertical>#showoption_status:not(.stop)
{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-width:10px;
    bottom:50%;
    right:20px;
}

#showoption_option
{
    bottom:20px;
    right:20px;
}
#showoption_option.stop
{
    display:none!important;
}
#showoption.horizontal>#showoption_option:not(.stop)
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-left-width:10px;
    top:20px;
    left:50%;
}
#showoption.vertical>#showoption_option:not(.stop)
{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-width:10px;
    top:50%;
    left:20px
}

#showoption_status_announcelist
{
    transition-duration:.5s;
    border-color:rgba(255,255,255,.3);
    border-radius:8px;
    border-style:solid;
    border-width:4px;
    max-height:20px;
    overflow:hidden;
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#showoption_status_announcelist:hover
{
    max-height:80px;
    overflow:auto;
}
#showoption_statue_peers
{
    transition-duration:.5s;
    border-color:rgba(255,255,255,.3);
    border-radius:8px;
    border-style:solid;
    border-width:4px;
    max-height:20px;
    overflow:hidden;
}
#showoption_statue_peers:hover
{
    max-height:320px;
    overflow:auto;
}
#showoption_status_infohash
{
    font-family:monospace;
}
#showoption_statue_file
{
    transition-duration:.5s;
    border-color:rgba(255,255,255,.3);
    border-radius:8px;
    border-style:solid;
    border-width:4px;
    max-height:99%;
    overflow:auto;
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#close_option
{
    float:right;
    position:fixed;
    display:inline;
    top:20px;
    right:20px;
    z-index:10003;
}
#notification
{
    transition-duration:.5s;
    position:fixed;
    background-color:rgba(15,15,15,.5);
    max-width:80%;
    max-height:50%;
    bottom:20px;
    right:20px;
    z-index:1;
}
#notification *
{
    border-color:rgba(255,240,240,.8);
    border-radius:6px;
    border-style:double;
    border-width:3px;
}
#g_option_changed
{
    width:100%;
    height:50%;
}

.hidden
{
    display:none!important;
}
.flexbox
{
    display:flex;
}
.flexbox_row
{
    flex-direction:row;
    flex-wrap:wrap;
}
.flexbox_col
{
    flex-direction:column;
}
.pos_sticky
{
    position:sticky;
    top:0;
    background-color:rgba(16,16,16,.5);
}

#showoption_status:not(.btml)>#showoption_status_bittorrent
{
    display:none!important;
}
#showoption_option.http div.options_bittorrent,#showoption_option.http div.options_metalink
{
    display:none!important;
}
#showoption_option.btml div.options_http,#showoption_option.btml div.options_ftp
{
    display:none!important;
}
#add_option.torrent>div.options_http,#add_option.torrent>div.options_ftp
{
    display:none!important;
}


#showoption_statue_file details>details,#showoption_statue_file details>div
{
    margin-left:1em;
}
.files_file_index
{
    padding-right:1em;
    color:#f0f0f0;
}

.sidetag
{
    background-color:rgba(255,240,240,.8);
    overflow:hidden;
    color:#0f0f0f;
    font-size:20px;
    line-height:48px;
    text-indent:16px;
    text-shadow:0px 0px 5px rgba(0,0,0,.5);
    transition-duration:.5s;
}
.sidetag:hover
{
    color:#f0f0f0;
    background-color:rgba(0,0,0,0);
    text-shadow:0px 0px 5px #f37a86;
}
.side_clicked
{
    border-bottom-color:rgba(255,255,255,.5);
    border-bottom-style:double;
    border-bottom-width:2px;
    border-left-color:rgba(255,255,255,.5);
    border-left-style:double;
    border-left-width:2px;
    border-top-color:rgba(255,255,255,.5);
    border-top-style:double;
    border-top-width:2px;
    border-radius:4px;
    color:#f0f0f0!important;
    background-color:rgba(0,0,0,0)!important;
    text-shadow:0px 0px 5px #f37a86!important;
}
.sideinfo
{
    font-size:16px;
    transition-duration:.5s;
}
.item
{
    border-color:rgba(255,240,240,.8);
    border-radius:10px;
    border-style:double;
    border-width:4px;
    position:relative;
}
.item_gid
{
    font-size:20px;
    font-family:monospace;
    opacity:0.2;
    right:0px;
    bottom:0px;
    position:absolute;
    z-index:-1;
}
.item_title
{
    text-align:center;
    font-size:20px;
    text-shadow:0px 0px 8px rgba(0,0,0,.7);
    z-index:1;
}
.item_summery
{
    font-size:16px;
}
.item_spd
{
    text-align:center;
    width:16em;
    margin:0 1em;
}
.item_button
{
    float:right;
    font-size:16px;
}
.item_http .item_gid,.item_http .item_title
{
    color:#0080ff;
}
.item_torrent .item_gid,.item_torrent .item_title
{
    color:#40ff40;
}
.item_metalink .item_gid,.item_metalink .item_title
{
    color:#ffff00;
}
.infohash
{
    overflow:hidden;
    text-overflow:ellipsis;
    font-family:monospace;
}
.peer,.files,.files_file_uri
{
    border-color:rgba(255,255,255,.3);
    border-radius:5px;
    border-style:dotted;
    border-width:2px;
}
.peer,.files
{
    font-size:14px;
}
.files_file_path,.files_file_uri
{
    transition-duration:.5s;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.files_file_path:hover,.files_file_uri:hover
{
    white-space:normal;
}
.files_file_path.files_file_selected
{
    color:#40ff40;
}
.files_file_path.files_file_unselected
{
    color:#808080;
}
.files_file_uri_used
{
    color:#0080ff;
}
.peer_spd
{
    font-size:12px;
    margin-left:16px;
}
.options_bordered
{
    border-color:rgba(255,255,255,.3);
    border-radius:5px;
    border-style:dotted;
    border-width:2px;
    overflow:auto;
}
.mainprogress
{
    height:18px;
    top:6px;
    width:100%;
    opacity:0.5;
    position:absolute;
    z-index:-1;
}
.note_chr
{
    color:#40ff40;
}
.note_lgt
{
    color:#e0e0e0;
}
.note_nor
{
    color:#ffff40;
}
.note_war
{
    color:#ff6060;
}
.note_err
{
    color:#ff2020;
}
